// This import applies a global reset to any page that imports this stylesheet.
//@import "blueprint/reset";
// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
// Import all the default blueprint modules so that we can access their mixins.
//@import "blueprint";
// Import the non-default scaffolding module.
//@import "blueprint/scaffolding";

//@import "bootstrap/bootstrap";

@import "compass/css3/border-radius";
@import "compass/css3/images";
@import "compass/css3/font-face";
@import "compass/utilities";

//@include font-face("AllerBold", font-files("/fonts/AllerBold.ttf", font/truetype));
//@include font-face("SocialIcons", font-files("/fonts/SocialIcons.otf", font/opentype));

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
//@include blueprint;

//Color Palette
//http://www.colourlovers.com/palette/1620509/Ocean_Breeze
$grey: #8F9198;
$grey-blue: #929FB2;
$red: #98161a;
$green: #008c44;

//* { outline:1px solid #336699;}

.hidden_item { display: none; }
a:hover { background: transparent; }

html {
  height: 100%;
  background-image: url(/assets/circles.png); 
}

body { 
  padding-top: 40px; 
  background-image: url(/assets/circles.png); 
  height: 100%;
}

div#content {
  margin-top: 0px;
}

/*-------------------------
  FLASH NOTIFICATIONS 
--------------------------*/
div#messages {
  position: relative;
  width: 100%; height: 40px; line-height: 40px; text-align: center;
  z-index: 999;
  font-size: 16px;
  opacity: .95;

  #flash_notice {
    height: 40px;
    width: 100%;
    color: lighten($green, 20%); 
    @include light-on-dark-text-shadow(darken($green, 20%));
    background: $green;
  }
  
  #flash_alert {
    height: 40px;
    width: 100%;
    color: lighten($red, 20%); 
    @include dark-on-light-text-shadow(darken($red, 20%));
    background: $red;
  }
  
  .close_me {
    line-height: 19px;
    //font-size: 28px;
    position: absolute;
    bottom: 7px;
    right: 15px;
    //cursor: pointer;
    //background-color: #999;
    width: 26px;
    height: 26px;
    //@include border-radius(13px);
  }
  
}

/* FIELDS WITH ERRORS */
.field_with_errors {
  background: $red;
}

/*-------------------
  HEADER
----------------------*/

